<!-- ======= Specials Section ======= -->
<section
  data-aos="fade-down"
  data-aos-duration="1000"
  id="specials"
  class="specials mt-5 mb-5"
>
  <div class="container">
    <div class="section-title text-center">
      <h2>Impulsa tu Negocio con Desperdicio Cero</h2>
      <p>
        Únete a Desperdicio Cero y forma parte de una comunidad comprometida con
        la sostenibilidad y la reducción del desperdicio de alimentos. Aprovecha
        esta oportunidad para aumentar tus ventas, atraer nuevos clientes y
        contribuir a un mundo más sostenible. Descubre las ventajas de registrar
        tu negocio con nosotros y cómo podemos ayudarte a crecer.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1"
              >Aumenta tus Ventas</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2"
              >Atrae Nuevos Clientes</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3"
              >Promueve la Sostenibilidad</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4"
              >Mejora tu Imagen</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-5"
              >Gestiona Fácilmente tus Productos</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Vende tu Excedente de Alimentos</h3>
                <p class="fst-italic">
                  Con Desperdicio Cero, puedes convertir tus excedentes de
                  alimentos en ingresos adicionales. Ofrece descuentos
                  atractivos y encuentra clientes dispuestos a comprar tus
                  productos antes de que se desperdicien.a
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt=""
                  class="img-fluid rounded"
                />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Amplía tu Base de Clientes</h3>
                <p class="fst-italic">
                  Nuestra plataforma te conecta con una nueva audiencia que
                  busca alimentos a precios reducidos. Atrae a nuevos clientes
                  que pueden convertirse en compradores recurrentes y fieles a
                  tu negocio.
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="https://images.unsplash.com/photo-1576867757603-05b134ebc379?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt=""
                  class="img-fluid rounded"
                />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Contribuye al Medio Ambiente</h3>
                <p class="fst-italic">
                  Al unirte a Desperdicio Cero, ayudas a reducir el desperdicio
                  de alimentos y a promover prácticas sostenibles. Haz que tu
                  negocio sea parte de la solución y gana reconocimiento por tus
                  esfuerzos ambientales.
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="https://images.unsplash.com/photo-1621112904887-419379ce6824?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt=""
                  class="img-fluid rounded"
                />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Posiciona tu Negocio como Responsable</h3>
                <p class="fst-italic">
                  Demuestra tu compromiso con la sostenibilidad y mejora la
                  percepción de tu marca. Los consumidores valoran a las
                  empresas que toman acciones responsables y sociales.
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="https://images.unsplash.com/photo-1424847651672-bf20a4b0982b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt=""
                  class="img-fluid rounded"
                />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-5">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Panel de Control Intuitivo</h3>
                <p class="fst-italic">
                  Administra tus ofertas y productos de manera eficiente con
                  nuestro panel de control fácil de usar. Actualiza tus
                  listados, gestiona pedidos y mantén a tus clientes informados.
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="https://images.unsplash.com/photo-1569937715496-0ccf6012b1a2?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt=""
                  class="img-fluid rounded"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Specials Section -->

<!-- Form -->
<div
  class="container mt-5 mb-5 d-flex justify-content-center"
  data-aos="fade-right"
  data-aos-duration="1000"
>
  <div class="col-md-4">
    <form (ngSubmit)="onCreate()">
      <h2 class="mb-4 text-center">Inscriba su Empresa</h2>
      <div class="form-group">
        <label for="nombreEmpresa">Nombre de la Empresa</label>
        <input
          type="text"
          class="form-control"
          id="nombreEmpresa"
          placeholder="Ingrese el nombre de la empresa"
          [(ngModel)]="empresa.nombre"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="form-group mt-4">
        <label for="direccion">Dirección</label>
        <input
          type="text"
          class="form-control"
          id="direccion"
          placeholder="Ingrese la dirección de la empresa"
          [(ngModel)]="empresa.direccion"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="form-group mt-4">
        <label for="horario">Horario de Atención</label>
        <input
          type="text"
          class="form-control"
          id="horario"
          placeholder="Ingrese el horario de atención"
          [(ngModel)]="empresa.horario"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="form-group mt-4">
        <label for="email">Correo Electrónico</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Ingrese el correo electrónico de la empresa"
          [(ngModel)]="empresa.email"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="form-group mt-4">
        <label for="telefono">Teléfono</label>
        <input
          type="text"
          class="form-control"
          id="telefono"
          placeholder="Ingrese el teléfono de contacto"
          [(ngModel)]="empresa.telefono"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="form-group mt-4">
        <label for="tipoEmpresa">Tipo de Empresa</label>
        <input
          type="text"
          class="form-control"
          id="tipoEmpresa"
          placeholder="Ingrese el tipo de empresa"
          [(ngModel)]="empresa.tipo"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="form-group mt-4">
        <label for="logo">Logo de la Empresa</label>
        <input
          type="text"
          class="form-control"
          id="logo"
          placeholder="Ingrese la URL del logo"
          [(ngModel)]="empresa.logo"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <!--    <button
        type="submit"
        class="btn btn-outline-primary mt-4 w-100"
        (click)="update()"
      >

        {{ id > 0 ? "Actualizar" : "Regístrate" }}
      </button> -->
      <button
        type="submit"
        class="btn btn-outline-primary mt-4 w-100"
        *ngIf="id === 0"
      >
        Regístrate
      </button>
      <button
        type="button"
        class="btn btn-outline-primary mt-4 w-100"
        *ngIf="id > 0"
        (click)="update(id, empresa)"
      >
        Actualizar
      </button>
    </form>
  </div>
</div>

<div class="container mb-5">
  <!-- Table -->
  <table class="table table-hover align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Horario</th>
        <th>Tipo</th>
        <th>Accion</th>
        <th>Accion</th>
        <th>Detalles</th>
      </tr>
    </thead>
    <tbody *ngFor="let empresa of empresas">
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
              src="https://images.unsplash.com/photo-1501339847302-ac426a4a7cbb?q=80&w=1178&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
            />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{ empresa.nombre }}</p>
              <p class="text-muted mb-0">{{ empresa.email }}</p>
              <p class="text-muted mb-0">{{ empresa.telefono }}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ empresa.direccion }}</p>
        </td>
        <td>
          <p class="badge bg-warning text-dark mb-1">{{ empresa.horario }}</p>
        </td>
        <td>
          <p class="badge bg-primary text-s mb-1">{{ empresa.tipo }}</p>
        </td>
        <td>
          <button
            class="btn btn-outline-danger btn-sm mb-1"
            (click)="onDelete(empresa.id!)"
          >
            Eliminar
          </button>
        </td>
        <td>
          <button
            class="btn btn-outline-info btn-sm"
            [routerLink]="['/negocio/edit', empresa.id]"
          >
            Actualizar
          </button>
        </td>
        <td>
          <button class="btn btn-outline-primary btn-sm">Ver</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
